
.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  justify-content: center;
}
.btn_nuevapublicacion{
  margin-top: 25px;
}
.producto-card {
  max-width: 500px;
  width: 100%;
  border-radius: 12px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.producto-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 8px 20px rgba(0,0,0,0.12);
}


.producto-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}
