

.boton-buscar{
  background: none;
  border: none;
  outline: none;
}
.products-page {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  margin-top: 80px;
}

.products-aside {
  background: #f5f5f5;
  padding: 1.5rem;
  border-radius: 12px;
  min-height: 400px;
  height: fit-content;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.products-header {
  grid-column: 1 / -1; 
  margin-bottom: 1rem;
}

.products-header h1 {
  font-size: 2rem;
  margin-bottom: .3rem;
}

.products-header p {
  color: #555;
}

.product-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e3e3e3;
  transition: .2s;
}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.product-card__img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card__name {
  font-size: 1.1rem;
  padding: .7rem;
  height: 55px;
}

.product-card__price {
  font-weight: bold;
  color: #32a852;
  margin-bottom: .5rem;
}

.btn-primary {
  display: inline-block;
  background-color: #1a73e8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #222;
  transform: scale(1.05);
}