.Search{
  display: flex;
  gap: 1rem;
  margin-left: 70%;
  margin-bottom: 10px;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 6px;
}
.Search input {
  border-radius: 6px;
  border: none;
  outline: none;
  max-width: 160px;
  background: white;
  color: #222;
  font-size: 1rem;
}
.Search p {
  text-align: left;
  margin: 0.5rem 0 0.3rem;
  font-size: 0.95rem;
}
