body{
  margin-top: 100px;
}

.detalle-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.detalle-img-container {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalle-img-container img {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.detalle-info {
  flex: 1;
  background-color: #111;
  color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detalle-info h1 {
  font-size: 2rem;
  margin: 0;
}

.detalle-info p {
  margin: 0.5rem 0;
  line-height: 1.5rem;
}

.detalle-precio {
  font-size: 1.8rem;
  font-weight: bold;
  color: #07f76e;
}

.detalle-btn {
  margin-top: auto;
  background-color: #00aaff;
  border: none;
  padding: 0.8rem 1.5rem;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s;
}

.detalle-btn:hover {
  background-color: #0087d4;
}

/* Responsive */
@media (max-width: 768px) {
  .detalle-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .detalle-info {
    width: 100%;
  }
}