.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #111;
  color: white;
  padding: 1rem 2rem;
  box-sizing: border-box;
}
.Search{
  display: flex;
  gap: 1rem;
  margin-left: 50px;
  align-items: center;
}
.boton-buscar{
  background: white;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  transition: 0.2s
}

.Search input{
  width: 100%;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: auto;
  font-size: 1rem;
}

.navbar__logo {
  height: 50px;
  width: auto;
}

.navbar__links {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: left;
  font-family: 'Courier New', Courier, monospace;
  gap: 5rem;
  margin: 0;
  padding: 0;
}

.navbar__links a {
  margin-left: 20rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar__links a:hover {
  text-decoration: underline;
}